  html {
    -webkit-box-sizing: border-box;             /* Ensuring box-model support for older broswers */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;            /* Ensuring box-model support for older broswers */
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  body{
    margin: 0;
    position: relative;
    font-family: "Arial", sans-serif;
  }

  .transparent{
      color: transparent;
      height: 150px;
  }

  .parallax {
    background-image: url(../img/stylish-and-sophisticated-assets/el-cortez-1440.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*
Alternative parallax code
  .parallax{
    height:100vh;
    padding-top:20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
  }
  
  .parallax-wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("./img/stylish-and-sophisticated-assets/el-cortez-1440.jpg");
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
} */

  .break{
      height: 100px;
  }

  /* !!!below is the nav-bar!!!*/
  header{
    background: #B1A296;
  }

  header::after{
    content:'';
    display: table;
    clear: both;
  }


  .fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1;
  }

  .pull-left{
    float: left;
  }

  .pull-right{
    float: right;
  }

  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li{
    display: inline-block;
    margin-left: 6em;
    padding: 1.5em 0;

    position: relative;
  }

  nav a{
    color: White;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
  }

  nav a:visited {
      color: white;
      text-decoration: none;
      font-size: 1.5em;
  }

  nav a:hover {
    color: #5D5C61;
    text-decoration: none;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #5D5C61;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 300ms;
  }

  nav a:hover::before{
    width: 100%;
  }

  .container{
    margin: 0 auto;
  }
  /*!!!Above is the nav-bar!!!*/

  p{
      font-family: 'Open Sans', sans-serif;
  }

  .blurb{
    color: #E3E3E3;
    font-size: 20px;
    text-align: justify;
    padding: 0px 100px 20px 100px;
  }

  hr{
    margin-left: 150px;
    margin-right: 150px;
  }

  .pic{
    border-style: solid;
    border-color: #B1A296;
    border-width: 4px;
    border-radius: 4px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }

  .fancy-symbol{
    margin-left: 95px;
  }

  .about{
    background-size: cover;
    height: 90vh;
    background-color: #7395AE;
    padding-top: 82px;
  }

  h1{
    font-family: 'Bilbo Swash Caps', cursive;
    /* font-family: "Oswald", sans-serif; */
    font-weight: lighter;
    font-size: 5.5rem;
  }

  #hello{
    color: #E3E3E3;
    margin-top: 60px;
    margin-left: 100px;
  }

  h2{
    font-family: "Oswald", Sans-serif;
    /* manipulating font-size is uneffectual :/ */
    font-weight: lighter;
    font-size: 43px;
    color: #E3E3E3;
    text-align: center;

    width: 27%;
    margin-left: 65vw;
    margin-bottom: 3rem;

    padding-top: 3px;
    padding-bottom: 3px;
  }

  .portfolio{
    background-size: cover;
    height: 95vh;
    background-color: #557A95;
    padding-top: 50px;
  }

  .portfolio .row{
    margin-left: 80px;
  }

  .thumbnail{
    width: 340px;
    height: 160px;

    border: none;
    background: none;

    margin-left: 10px;
    margin-right: 10px;
  }

  .contact{
    background-size: cover;
    height: 90vh;
    background-color: #7395AE;
    padding-top: 80px;
  }

  h3{
    font-family: "Verdana", Sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 3rem;    
    color: #E3E3E3;

    padding-top: 1rem;
  }

  .btn-default{
    background-color: LightGrey;
    border: none;
    border-radius: 6px;

    padding: 10px;
    font-size: 1.7em;
    color: white;
  }

  #social-links{
    text-align: center;
  }

  #social-links a{
      color: #5D5C61;
  }

  .fa{
    font-size: 25px;
  }

  #LinkedinIcon{
    color: rgb(0,127,178);
  }

  #FacebookIcon{
     color: rgb(59,89,173);
  }

  #FreecodecampIcon{
    color: green;
  }

  #email{
    text-align: center;
    font-family: "Arial", Sans-serif;
    font-size: 2em;
  }