
/* @trim-color: #B1A296;
@link-highlight: #5D5C61;
@p-text-color: #E3E3E3;
@background-color: #7395AE;
@portfolio-color: #557A95; */

header{
  background: #B1A296;
}

header::after {
  content:'';
  display: table;
  clear: both;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 6em;
  padding: 1.5em 0;

  position: relative;
}

nav a{
  color: White;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
}

nav a:visited {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

nav a:hover {
  color: #5D5C61;
  text-decoration: none;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #5D5C61;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 300ms;
}

nav a:hover::before{
  width: 100%;
}