  .parallax {
    height: 27vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .p1{
    background-image: url(../img/stylish-and-sophisticated-assets/el-cortez-1440-Top.jpg);
  }

  .p2{
    background-image: url(../img/stylish-and-sophisticated-assets/el-cortez-1440-Bottom.jpg);
  }

  h2{
    font-family: "Oswald", Sans-serif;
    font-weight: lighter;
    font-size: 43px;
    color: #E3E3E3;
    text-align: center;

    padding-top: 3px;
    padding-bottom: 3px;
  }

  // Does not need to be changed
  h3{
    font-family: "Verdana", Sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 3rem;    
    color: #E3E3E3;

    padding-top: 1rem;
  }

  .btn-default{
    background-color: LightGrey;
    border: none;
    border-radius: 6px;

    padding: 10px;
    font-size: 1.7em;
    color: white;
  }

  #social-links{
    text-align: center;
  }

  #social-links a{
      color: #5D5C61;
  }

  #LinkedinIcon{
    color: rgb(0,127,178);
  }

  #FacebookIcon{
     color: rgb(59,89,173);
  }

  #FreecodecampIcon{
    color: green;
  }

  #email{
    text-align: center;
    margin-bottom: 5vh;
  }

  #email a{
    color: white;
    font-size: 2em;
  }
